server {
    listen 80;
    server_name yourdomain.com;

    # Serve Next.js frontend
    location / {
        proxy_pass http://Next:3000;  # Points to Next.js container
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    # Forward API requests to FastAPI
    location /api {
        proxy_pass http://fastapi:8000;   # Points to FastAPI container
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}